html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    background-color: #e7fff5;
}

header{
    margin: 0px;
    padding: 0px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1de9b6;
}

h1 {
    line-height: 0px;
}

h2 {
    font-size: 14px;
    line-height: 0px;
}

#box-grid {
    height: 500px;
    width: 500px;
    display: grid;
    gap: 0px;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(100, 1%);
    grid-template-columns: repeat(100, 1%);
    border: 4px solid black;
    background-color: white;
}

.box {
    width: 5px;
    height: 5px;
}

button {
    width: 150px;
    height: 50px;
    background-color: #e1bee7;
    color: black;
    border: none;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    margin: 15px;
}

button:hover {
    background-color: #f3e5f5;
}

#draw-div {
    display: flex;
    justify-content: center;
}

#color-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-right: 20px;
}

.color-box{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}